<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
    <p>Ticket type - {{ type }}</p>
    <p>Point id - {{ point_id }}</p>
    <hr/>
    <table>
        {% for key, value in order.items %}
            <tr>
                <td>{{ key }}</td>
                <td> : </td>
                <td>{{ value }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
